<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799945981526-a5fn4nvko84igb3ni2298hqgael31vgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799945981526-a5fn4nvko84igb3ni2298hqgael31vgj</string>
	<key>API_KEY</key>
	<string>AIzaSyCn5SgfTE9zj_W18pWOU4hg2kw9ULVfQUg</string>
	<key>GCM_SENDER_ID</key>
	<string>799945981526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.astarte.astarte</string>
	<key>PROJECT_ID</key>
	<string>astarte-odtu</string>
	<key>STORAGE_BUCKET</key>
	<string>astarte-odtu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799945981526:ios:abbdc5abf1fa7099da45f7</string>
</dict>
</plist>